{
    "plugins": [
        [
            "module-resolver",
            {
                "cwd": "babelrc",
                "root": ["./src"],
                "extenstions": [".js", ".ios.js", ".android.js"],
                "alias": {
                    "_actions": "./src/actions",
                    "_assets": "./src/assets",
                    "_atoms": "./src/components/atoms",
                    "_c_a_icons": "./src/components/atoms/icons",
                    "_components": "./src/components",
                    "_molecules": "./src/components/molecules",
                    "_organisms": "./src/components/organisms",
                    "_reducers": "./src/reducers",
                    "_routers": "./src/routers",
                    "_styles": "./src/styles",
                    "_types": "./src/types",
                    "_utils": "./src/utils",
                    "_views": "./src/views"
                }
            }
        ]
    ]
}
